div#header
	a(href="/") Home
	|&nbsp;&nbsp;&nbsp;&nbsp;
	
	a(href="/artworks") Artworks 
	|&nbsp;&nbsp;&nbsp;&nbsp;


	if loggedin
		a(href="/profile") Profile 
		|&nbsp;&nbsp;&nbsp;&nbsp;
		a(href="/logout") Logout 
		|&nbsp;&nbsp;&nbsp;&nbsp;
		| !{` |  Currently Logged in as ${username}`}
	else
		a(href="/register") Register 
		|&nbsp;&nbsp;&nbsp;&nbsp;
		a(href="/login") Login 
		|&nbsp;&nbsp;&nbsp;&nbsp;
	br
	br