html
    head
        title Open Gallery
    body
        include ./header
        h1 Welcome to the Open Gallery!
        h3 This server uses a database to store art and allows users to create accounts, add new artworks, and view any artists or artwork currently stored in the database. 
        h3 The server uses MongoDB to achieve persistence of data between server restarts.